:host {
   .progress-bar {
      width: 16vw;
      height: 2vw;
      box-shadow: 1px 0 black, -1px 0 black, 0 -1px black, 0 1px black, 2px 0 rgb(46, 46, 46), -2px 0 rgb(45, 45, 45), 0 -2px rgb(45, 45, 45),
         0 2px rgb(45, 45, 45), 4px 0 #491903, -4px 0 #491903, 0 -4px #491903, 0 4px #491903;
      margin-top: 2vw;
      margin-left: -3vw;
      position: relative;
      display: flex;
      align-items: center;

      .value-indicator {
         position: absolute;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         color: white;
         font-size: max(1.5vw, 16px);
         text-shadow: 1px 1px 4px black;
         font-family: SurvivalKit;
      }
   }
}

:host-context(.health) {
   .progress-bar {
      background-image: url(../../../../assets/icons/hp-drained.svg);
      background-size: auto 100%;

      .filled-bar {
         height: 100%;
         display: block;
         background-image: url(../../../../assets/icons/hp-fill.svg);
         background-size: auto 100%;
      }
   }
}

:host-context(.experience) {
   .progress-bar {
      width: 12vw;
      z-index: 0;
      margin-top: 4px;
      background-image: url(../../../../assets/icons/exp-drained.svg);
      background-size: auto 100%;

      .filled-bar {
         height: 100%;
         display: block;
         background-image: url(../../../../assets/icons/exp-fill.svg);
         background-size: auto 100%;
      }
   }
}
