<div class="avatar-container">
   <div class="portrait-container">
      <img src="assets/Characters/GraveRobber/portrait.svg" alt="" />
   </div>

   <div>
      <app-progress-bar class="health" [currentValue]="player.combatAttributes.currentHealth" [totalValue]="player.combatAttributes.health"></app-progress-bar>
      <app-progress-bar
         class="experience"
         [currentValue]="player.combatAttributes.currentExperience"
         [totalValue]="player.combatAttributes.experience"
      ></app-progress-bar>
   </div>
</div>
